<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>学生信息</title>
  <script>
    function showSuccessMessage() {
      alert("您的信息更新成功！");
    }
  </script>
</head>
<body>
<h1>学生信息</h1>
<form th:action="@{/students/updateStudent}" th:object="${studentInformation}" method="post" onsubmit="showSuccessMessage()">
  <p>学号: <input type="text" th:field="*{studentId}" readonly="true" /></p>
  <p>姓名: <input type="text" th:field="*{studentName}" /></p>
  <p>班级名称: <input type="text" th:field="*{studentClass.className}" /></p>
  <p>性别: <input type="text" th:field="*{sex}" /></p>
  <p>年龄: <input type="number" th:field="*{age}" /></p>
  <p>地址: <input type="text" th:field="*{address}" /></p>
  <p>电话号码: <input type="text" th:field="*{phoneNumber}" /></p>
  <button type="submit">更新</button>
</form>
</body>
</html>