<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/common.css">
    <title>教师菜单</title>
</head>
<body>
<div class="container">
<h1>欢迎您, <span th:text="${teacherName}"></span></h1>
<h2>请选择操作:</h2>
<div class="button-container">
    <button class="menu-button" th:onclick="|location.href='@{/teachers/createAssignment(teacherId=${teacherId})}'|">布置作业</button>
    <button class="menu-button" th:onclick="|location.href='@{/teachers/assignments(teacherId=${teacherId})}'|">查看提交情况</button>
    <button class="menu-button" th:onclick="|location.href='@{/teachers/gradeAssignment(teacherId=${teacherId})}'|">批改作业</button>
    <button class="menu-button" th:onclick="|location.href='@{/teachers/learningProgress(teacherId=${teacherId})}'|">查看学生学习进度</button>
    <button class="menu-button" th:onclick="|location.href='@{/teachers/resources(teacherId=${teacherId})}'|">管理学习资源</button>
    <button class="menu-button" th:onclick="|location.href='@{/teachers/classSchedule(teacherId=${teacherId})}'|">查看课程安排</button>
    <button class="menu-button" th:onclick="|location.href='@{/teachers/notifications(teacherId=${teacherId})}'|">发布通知</button>
    <button class="menu-button" th:onclick="|location.href='@{/login}'|">重新登录</button>
</div>
</div>
</body>
</html>